<%- include("mainhead") -%>

<div class="main-container">
  <a href="/take-quiz">
    <div class="child-container">
      <h1>Take Quiz</h1>
    </div>
  </a>

  <a href="/taken-history">
    <div class="child-container">
      <h1>Quiz taken History</h1>
    </div>
  </a>

  <a href="/make-quiz/">
    <div class="child-container">
      <h1>Make Quiz</h1>
    </div>
  </a>
  <a href="/made-history">
    <div class="child-container">
      <h1>Quiz made History</h1>
    </div>
  </a>


  <a href="/join-live-quiz">
    <div class="child-container">
      <h1>Join Live Quiz</h1>
    </div>
  </a>

  <a href="/live-quiz-made">
    <div class="child-container">
      <h1>Live <label style="font-size: 36px">Quizzes</label></h1>
    </div>
  </a>
</div>

<script></script>

<%- include("mainfooter")-%>
