<%- include("mainhead") -%>

<div class="starter-template">
    <h1>Your Quiz was submitted</h1>
    <h2>You scored <%= score %></h2>
    <h5>The Quiz can only taken once <br>
        Contact the Quiz admin to retake the Quiz</h5>
    <a href="/">Click to Home</a>
  </div>

<%- include("mainfooter")-%>